<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ca.gymbackend.market.mapper.MarketMapper">

    <select id = "selectMarketUserInfo" resultType = "com.ca.gymbackend.market.dto.MarketUserInfoDto">
    
        SELECT * FROM market_user_info WHERE user_id = #{userId};
    
    </select>

    <insert id = "insertMarketArticle" parameterType="com.ca.gymbackend.market.dto.MarketArticleDto">
    
        INSERT INTO market_article (market_user_id, image_link, image_original_filename, main_image_id, title, content, product_cost_option, product_cost)
        VALUES (#{marketUserId}, #{imageLink}, #{imageOriginalFilename}, 1, #{title}, #{content}, #{productCostOption}, #{productCost});
    
    </insert>
    
    <select id = "selectMarketArticle" resultType = "com.ca.gymbackend.market.dto.MarketArticleDto">
    
        SELECT * FROM market_article ORDER BY id DESC;
    
    </select>
    
    <select id = "selectSpecificMarketArticle" resultType = "com.ca.gymbackend.market.dto.MarketArticleDto">
    
        SELECT * FROM market_article WHERE id = #{id};
    
    </select>
    
    <update id = "updateMarketArticle" parameterType="com.ca.gymbackend.market.dto.MarketArticleDto">
        
        UPDATE market_article ma
        <set>
            <if test = "imageLink != null"> image_link = #{imageLink}, image_original_filename = #{imageOriginalFilename},</if>
            title = #{title}, content = #{content}, product_cost = #{productCost}, updated_at = NOW()
        </set>
        WHERE id = #{id};
        
    </update>
    
    <delete id = "deleteMarketArticle" parameterType="int">
    
        DELETE FROM market_article WHERE id = #{id};
    
    </delete>
    
    <insert id = "insertMarketCommentOnArticle">
    
        INSERT INTO market_comment_on_article (article_id, market_user_id, content)
        VALUES (#{articleId}, #{marketUserId}, #{content});
    
    </insert>
    
    <select id = "selectMarketCommentOnArticle" resultType = "com.ca.gymbackend.market.dto.MarketCommentOnArticleDto">
    
        SELECT * FROM market_comment_on_article WHERE article_id = #{articleId};
    
    </select>
    
    <select id = "selectCountMarketCommentOnArticle" resultType = "int">
    
        SELECT COUNT(*) FROM market_comment_on_article WHERE article_id = #{articleId};
    
    </select>
    
    <select id = "selectSpecificMarketCommentOnArticle" resultType = "com.ca.gymbackend.market.dto.MarketCommentOnArticleDto">
    
        SELECT * FROM market_comment_on_article WHERE id = #{id};
        
    </select>
    
    <update id = "updateMarketCommentOnArticle">
    
        UPDATE market_comment_on_article mc_oa SET content = #{content}, updated_at = NOW()
        WHERE id = #{id};
    
    </update>
    
    <delete id = "deleteMarketCommentOnArticleWhenDeleteArticle">
    
        DELETE FROM market_comment_on_article WHERE article_id = #{articleId};
    
    </delete>
    
    <delete id = "deleteMarketCommentOnArticle">
    
        DELETE FROM market_comment_on_article WHERE id = #{id};
    
    </delete>
    
    <insert id = "insertMarketProductInterestedLog">
    
        INSERT INTO market_product_interested_log (market_user_id, specific_article_id)
        VALUES (#{marketUserId}, #{specificArticleId})
    
    </insert>
    
    <select id = "selectMarketProductInterestedLogWhenUserInfo" resultType = "com.ca.gymbackend.market.dto.MarketProductInterestedLogDto">
    
        SELECT * FROM market_product_interested_log WHERE market_user_id = #{marketUserId};
    
    </select>
    
    <select id = "selectCountMarketProductInterestedLogWhenUserInfo" resultType = "int">
    
        SELECT COUNT(*) FROM market_product_interested_log WHERE market_user_id = #{marketUserId} ORDER BY id DESC;
    
    </select>
    
    <select id = "selectMarketProductInterestedLogWhenArticleInfo" resultType = "com.ca.gymbackend.market.dto.MarketProductInterestedLogDto">
    
        SELECT * FROM market_product_interested_log WHERE specific_article_id = #{specificArticleId};
    
    </select>
    
    <select id = "selectCountMarketProductInterestedLogWhenArticleInfo" resultType = "int">
    
        SELECT COUNT(*) FROM market_product_interested_log WHERE specific_article_id = #{specificArticleId};
    
    </select>
    
    <select id = "selectMarketProductInterestedLogWhenUserAndArticleInfo" resultType = "com.ca.gymbackend.market.dto.MarketProductInterestedLogDto">
    
        SELECT * FROM market_product_interested_log WHERE market_user_id = #{marketUserId} AND specific_article_id = #{specificArticleId};
    
    </select>
    
    <delete id = "deleteMarketProductInterestedLogWhenDeleteArticle">
    
        DELETE FROM market_product_interested_log WHERE specific_article_id = #{specificArticleId};
    
    </delete>
    
    <delete id = "deleteMarketProductInterestedLog">
    
        DELETE FROM market_product_interested_log WHERE market_user_id = #{marketUserId} AND specific_article_id = #{specificArticleId};
    
    </delete>
    
    <insert id = "insertMarketDealedLog">
    
        INSERT INTO market_dealed_log (seller_id, buyer_id, specific_article_id)
        VALUES (#{sellerId}, #{buyerId}, #{specificArticleId});
    
    </insert>
    
    <insert id = "insertMarketDealedLogCheckedBySeller">
    
        INSERT INTO market_dealed_log_checked_by_seller (seller_id, buyer_id, specific_article_id)
        VALUES (#{sellerId}, #{buyerId}, #{specificArticleId});
    
    </insert>
    
    <select id = "selectMarketDealedLogCheckedBySeller" resultType = "com.ca.gymbackend.market.dto.MarketDealedLogCheckedBySellerDto">
    <!-- 수정 필요 -->
    
        SELECT * FROM market_dealed_log_checked_by_seller WHERE seller_id = #{sellerId} AND specific_article_id = #{specificArticleId};
    
    </select>
    
    <select id = "selectSpecificMarketDealedLogCheckedBySeller" resultType = "com.ca.gymbackend.market.dto.MarketDealedLogCheckedBySellerDto">
    <!-- 수정 필요 -->
    
        SELECT * FROM market_dealed_log_checked_by_seller WHERE seller_id = #{sellerId} AND specific_article_id = #{specificArticleId};
    
    </select>
    
    <delete id = "deleteMarketDealedLogCheckedBySeller"> 
    <!-- 판매자가 한 행동인지 정밀하게 확인하려면 sellerId 를 넣을 것 -->
    
        DELETE FROM market_dealed_log_checked_by_seller WHERE specific_article_id = #{specificArticleId};
    
    </delete>
    
    <insert id = "insertMarketDealedLogCheckedByBuyer">
    
        INSERT INTO market_dealed_log_checked_by_buyer (seller_id, buyer_id, specific_article_id)
        VALUES (#{sellerId}, #{buyerId}, #{specificArticleId});
    
    </insert>
    
    <select id = "selectMarketDealedLogCheckedByBuyer" resultType = "com.ca.gymbackend.market.dto.MarketDealedLogCheckedByBuyerDto">
    <!-- 수정 필요 -->
    
        SELECT * FROM market_dealed_log_checked_by_buyer WHERE buyer_id = #{buyerId} AND specific_article_id = #{specificArticleId};
    
    </select>
    
    <select id = "selectSpecificMarketDealedLogCheckedByBuyer" resultType = "com.ca.gymbackend.market.dto.MarketDealedLogCheckedByBuyerDto">
    <!-- 수정 필요 -->
    
        SELECT * FROM market_dealed_log_checked_by_buyer WHERE buyer_id = #{buyerId} AND specific_article_id = #{specificArticleId};
    
    </select>
    
    <delete id = "deleteMarketDealedLogCheckedByBuyer">
    <!-- 판매자가 한 행동인지 정밀하게 확인하려면 buyerId 를 넣을 것 -->
    
        DELETE FROM market_dealed_log_checked_by_buyer WHERE specific_article_id = #{specificArticleId};
    
    </delete>
    
    <select id = "selectSpecificMarketDealedLog" resultType = "com.ca.gymbackend.market.dto.MarketDealedLogDto"> <!-- 테스트용 -->
    
        SELECT * FROM market_dealed_log WHERE specific_article_id = #{specificArticleId};
    
    </select>
    
    <select id = "selectMarketDealedLogWhenBuyer" resultType = "com.ca.gymbackend.market.dto.MarketDealedLogDto"> <!-- 테스트용 -->
    
        SELECT * FROM market_dealed_log WHERE buyer_id = #{buyerId} ORDER BY id DESC;
    
    </select>
    
    <select id = "selectCountMarketDealedLogWhenBuyer" resultType = "int"> <!-- 테스트용 -->
    
        SELECT COUNT(*) FROM market_dealed_log WHERE buyer_id = #{buyerId};
    
    </select>
    
    <select id = "selectMarketDealedLogWhenSeller" resultType = "com.ca.gymbackend.market.dto.MarketDealedLogDto"> <!-- 테스트용 -->
    
        SELECT * FROM market_dealed_log WHERE seller_id = #{sellerId} ORDER BY id DESC;
    
    </select>
    
    <select id = "selectCountMarketDealedLogWhenSeller" resultType = "int"> <!-- 테스트용 -->
    
        SELECT COUNT(*) FROM market_dealed_log WHERE seller_id = #{sellerId};
    
    </select>
    
    <delete id = "deleteMarketDealedLogWhenDeleteArticle">
    
        DELETE FROM market_dealed_log WHERE specific_article_id = #{specificArticleId};
    
    </delete>
    
    <update id = "updateMarketArticleToSellEnded">
    
        UPDATE market_article ma SET sell_ended = 1 WHERE id = #{id};
    
    </update>
    
    <insert id = "insertMarketReviewToUser">
    
        INSERT INTO market_review_on_user (writer_id, evaluated_user_id, content)
        VALUES (#{writerId}, #{evaluatedUserId}, #{content});
    
    </insert>
    
    <select id = "selectMarketReviewToUser" resultType = "com.ca.gymbackend.market.dto.MarketReviewOnUserDto">
    
        SELECT * FROM market_review_on_user WHERE evaluated_user_id = #{evaluatedUserId};
    
    </select>
    
    <update id = "updateMarketReviewToUser">
    
        UPDATE market_review_on_user SET content = #{content}, updated_at = NOW()
        WHERE evaluated_user_id = #{evaluatedUserId};
    
    </update>
    
    <delete id = "deleteMarketReviewToUser">
    
        DELETE FROM market_review_on_user WHERE evaluated_user_id = #{evaluatedUserId};
    
    </delete>
    
    <select id = "selectMarketArticleBySearchWord" resultType = "com.ca.gymbackend.market.dto.MarketArticleDto">
    
        SELECT * FROM market_article ma WHERE ma.title LIKE CONCAT('%', #{searchWord}, '%') OR ma.content LIKE CONCAT('%', #{searchWord}, '%');
    
    </select>

</mapper>