<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ca.gymbackend.portal.mapper.PortalMapper">
    
    <!-- 회원가입 -->
    <insert id="insertUser">
        INSERT INTO user(account_name,password,name,gender,birth,address,phone,profile_image,height,weight,muscle_mass,is_buddy)
        VALUES(#{accountName},#{password},#{name},#{gender},#{birth},#{address},#{phone},#{profileImage},#{height},#{weight},#{muscleMass},#{buddy})
    </insert>

    <!-- 로그인 -->
    <select id="findByLogin">
        SELECT * FROM user
        WHERE account_name = #{accountName} AND password = #{password}
    </select>
    <select id="findById">
        SELECT * FROM user
        WHERE id=#{id}
    </select>

    <!-- 개인정보 수정 -->
    <update id="updateUser">
        UPDATE user
        SET
            name = #{name},
            password = #{password},
            birth = #{birth},
            address = #{address},
            phone = #{phone},
            profile_image = #{profileImage},
            height = #{height},
            weight = #{weight},
            muscle_mass = #{muscleMass}
        WHERE id = #{id}
    </update>
</mapper>