<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ca.gymbackend.routine.mapper.RoutineSqlMapper">

    <select id="findAllWorkout" resultType="com.ca.gymbackend.routine.response.EveryWorkoutList">
    SELECT c.category_name, c.category_id, e.element_id, e.element_name, e.element_picture FROM workout_element e
    INNER JOIN workout_category c
    ON e.category_id = c.category_id
    </select>


    <select id="findWorkoutGuide" resultType="com.ca.gymbackend.routine.response.WorkoutGuideList">
        SELECT 
            we.element_id, 
            we.element_name, 
            we.element_picture, 
            wc.category_name, 
            wg.instruction, 
            wm.memo_content
        FROM workout_element we
        LEFT JOIN workout_category wc ON we.category_id = wc.category_id
        LEFT JOIN workout_guide wg ON wg.element_id = we.element_id
        LEFT JOIN workout_memo wm ON wm.element_id = we.element_id
        WHERE we.element_id = #{id}
    </select>


</mapper>