<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ca.gymbackend.routine.mapper.RoutineSqlMapper">

    <select id="findAllWorkout" resultType="com.ca.gymbackend.routine.response.EveryWorkoutList">
    SELECT c.category_name, c.category_id, e.element_id, e.element_name, e.element_picture FROM workout_element e
    INNER JOIN workout_category c
    ON e.category_id = c.category_id
    </select>


    <select id="findWorkoutGuide" resultType="com.ca.gymbackend.routine.response.WorkoutGuideList">
        SELECT 
            we.element_id, 
            we.element_name, 
            we.element_picture, 
            wc.category_name, 
            wg.instruction, 
            wm.memo_content
        FROM workout_element we
        LEFT JOIN workout_category wc ON we.category_id = wc.category_id
        LEFT JOIN workout_guide wg ON wg.element_id = we.element_id
        LEFT JOIN workout_memo wm ON wm.element_id = we.element_id
        WHERE we.element_id = #{id}
    </select>

    <insert id="insertRoutineInfo" parameterType="com.ca.gymbackend.routine.dto.RoutineDto" useGeneratedKeys="true" keyProperty="routineId">
        INSERT INTO routine (user_id, routine_name, created_at)
        VALUES (#{userId}, #{routineName}, #{createdAt})
    </insert>

    <insert id="insertRoutineDetail" parameterType="com.ca.gymbackend.routine.dto.RoutineDetailDto" useGeneratedKeys="true" keyProperty="detailId">
        INSERT INTO routine_detail (routine_id, element_id, element_order)
        VALUES (#{routineId}, #{elementId}, #{elementOrder});
    </insert>


    <insert id="insertRoutineSet" parameterType="com.ca.gymbackend.routine.dto.RoutineSetDto">
        INSERT INTO routine_set (detail_id, kg, reps)
        VALUES (#{detailId}, #{kg}, #{reps});
    </insert>





    <select id="findRoutinesByUserId" resultType="com.ca.gymbackend.routine.response.RoutineByUserId">
        SELECT
            r.routine_id AS routineId,
            r.user_id AS userId,
            r.routine_name AS routineName,
            rd.detail_id AS detailId,
            rd.element_id AS elementId,
            rd.element_order AS elementOrder,
            rs.set_id AS setId,
            rs.kg AS kg,
            rs.reps AS reps
        FROM routine r
        INNER JOIN routine_detail rd ON r.routine_id = rd.routine_id
        INNER JOIN routine_set rs ON rs.detail_id = rd.detail_id
        WHERE r.user_id = #{userId}
    </select>


</mapper>