<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ca.gymbackend.buddy.mapper.BuddySqlMapper">

    <insert id="insertBuddyList" parameterType="com.ca.gymbackend.buddy.dto.BuddyDto">
        INSERT INTO buddy (user_id, buddy_age_id, preferred_gender, intro)
        VALUES
        <foreach collection="buddyAgeList" item="age" separator=",">
            (#{userId}, #{age.id}, #{preferredGender}, #{intro})
        </foreach>
    </insert>

    <select id="findByAgeId" parameterType="int" resultType="com.ca.gymbackend.buddy.dto.AgeDto">
        SELECT * FROM buddy_age WHERE id = #{id}
    </select>

    <update id="updateIsBuddy" parameterType="int">
        UPDATE user
        SET is_buddy = true
        WHERE id = #{userId}
    </update>

   <select id="getBuddyUserList" resultType="map">
       SELECT 
            u.id AS user_id,
            u.name,
            u.gender,
            u.birth ,
            u.address,
            u.phone,
            u.height ,
            u.weight ,
            u.muscle_mass ,
            u.profile_image,
            b.intro,
        GROUP_CONCAT(ba.age ORDER BY ba.age SEPARATOR ', ') AS buddy_ages
        FROM user u
        JOIN buddy b ON u.id = b.user_id
        JOIN buddy_age ba ON b.buddy_age_id = ba.id
        WHERE u.is_buddy = true
        GROUP BY u.id
    </select>


    <!-- 매칭 -->
    <insert id="insertMatching">
        INSERT INTO matching (send_buddy_id, receiver_buddy_id)
        VALUES (#{sendBuddyId}, #{receiverBuddyId});
    </insert>

    <update id="updateMatchingStatus" parameterType="map">
        UPDATE matching
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <select id="selectMatchingNotifications" resultType="map">
        SELECT 
            m.id AS matching_id,
            m.send_buddy_id,
            m.receiver_buddy_id,
            m.status,
            sb.intro AS sender_intro,
            rb.intro AS receiver_intro,
            su.name AS sender_name,
            ru.name AS receiver_name,
            su.profile_image AS sender_image,
            ru.profile_image AS receiver_image
        FROM matching m
        JOIN buddy sb ON m.send_buddy_id = sb.id
        JOIN buddy rb ON m.receiver_buddy_id = rb.id
        JOIN user su ON sb.user_id = su.id
        JOIN user ru ON rb.user_id = ru.id
        WHERE m.send_buddy_id = #{buddyId} OR m.receiver_buddy_id = #{buddyId}
        ORDER BY m.id DESC
    </select>

    <!-- 채팅룸 나열 -->
    <select id="getChatRoomsByBuddyId">
        SELECT 
            m.id AS matchingId,
            CASE 
                WHEN m.send_buddy_id = #{buddyId} THEN u2.name
                ELSE u1.name
            END AS opponentName,
            CASE 
                WHEN m.send_buddy_id = #{buddyId} THEN u2.profile_image
                ELSE u1.profile_image
            END AS opponentProfileImage,
            CASE 
                WHEN m.send_buddy_id = #{buddyId} THEN b2.intro
                ELSE b1.intro
            END AS opponentIntro,
            ch.message AS lastMessage,
            ch.sent_at AS lastSentAt

        FROM matching m
        JOIN buddy b1 ON m.send_buddy_id = b1.id
        JOIN user u1 ON b1.user_id = u1.id
        JOIN buddy b2 ON m.receiver_buddy_id = b2.id
        JOIN user u2 ON b2.user_id = u2.id
        LEFT JOIN chat ch ON ch.id = (
            SELECT id FROM chat 
            WHERE matching_id = m.id 
            ORDER BY sent_at DESC 
            LIMIT 1
        )
        WHERE m.status = '수락'
          AND (m.send_buddy_id = #{buddyId} OR m.receiver_buddy_id = #{buddyId})
        ORDER BY ch.sent_at DESC
    </select>



    <!-- // 채팅 -->
    <insert id="insertInitialChat" parameterType="map">
        INSERT INTO chat (matching_id, send_buddy_id, message, sent_at, is_read)
        VALUES (#{matchingId}, #{sendBuddyId}, '안녕하세요.', NOW(), false)
    </insert>


    <insert id="insertChat" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat(matching_id, send_buddy_id, message, is_read, sent_at)
        VALUES(#{matchingId}, #{sendBuddyId}, #{message}, #{isRead}, #{sentAt})
    </insert>

    <select id="selectChatsByMatchingId" parameterType="int">
        SELECT id, matching_id, send_buddy_id, message, is_read, sent_at
        FROM chat
        WHERE matching_id = #{matchingId}
        ORDER BY sent_at ASC
    </select>

    <update id="updateChatReadStatus" parameterType="int">
        UPDATE chat SET is_read = true WHERE id = #{id}
    </update>

</mapper>